<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>ITSAppUsesNonExemptEncryption</key>
        <false/>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>ComOS</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>eWorkflow</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>eworkflow.com</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>eworkflow</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>FlutterDeepLinkingEnabled</key>
	<true/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Ứng dụng cần quyền truy cập vào máy ảnh để bạn có thể chụp ảnh và tải lên hồ sơ của mình. Ví dụ: chụp ảnh hồ sơ.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Ứng dụng cần quyền truy cập vào micro để bạn có thể ghi âm giọng nói hoặc ghi âm khi quay video. Việc này có thể giúp bạn tạo video và ghi âm cho bài học của mình.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Ứng dụng cần quyền truy cập vào thư viện ảnh để bạn có thể chọn và tải lên ảnh từ thiết bị của mình. Ví dụ: chọn ảnh từ thư viện để làm ảnh hồ sơ.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Ứng dụng cần quyền truy cập vào vị trí của bạn khi sử dụng ứng dụng để cung cấp các dịch vụ dựa trên vị trí. Ví dụ: check-in theo location.</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
			<string>remote-notification</string>
	</array>
	<key>NSRemoteNotificationUsageDescription</key>
	<string>Ứng dụng cần quyền nhận thông báo từ xa để cập nhật nội dung và thông tin mới nhất, ngay cả khi ứng dụng đang chạy ở chế độ nền.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Ứng dụng cần quyền truy cập vào Face ID để xác thực danh tính của bạn một cách an toàn và tiện lợi khi đăng nhập vào ứng dụng.</string>
	<key>NSBiometricUsageDescription</key>
	<string>Ứng dụng cần quyền truy cập vào sinh trắc học để xác thực.</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>SKAdNetworkItems</key>
	<array>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>cstr6suwn9.skadnetwork</string>
		</dict>
	</array>
</dict>
</plist>
